<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>

  <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Organization</h4>
        </div>
        <div class="modal-body">
          <form id="modal-form">
            <div style="text-align: center;">
              <input type="text" name="organization_id" id="organization_id" readonly></br>
              <input type="text" name="organization_name" id="organization_name"></br>
              <input type="text" name="abbreviation" id="abbreviation"></br>
              <input type="text" name="city" id="city"></br>
              <input type="text" name="street_name" id="street_name"></br>
              <input type="text" name="street_number" id="street_number"></br>
              <input type="text" name="zip_code" id="zip_code"></br>
              <input type="text" name="organization_type" id="organization_type">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="modal-form" class="btn btn-success">Update</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <%- include("includes/navbar.ejs")%>

    <div class="container">
      <div class="row" id="row">
        <div class="col-md-12">
          <div class="card" id="card-container">
            <div class="card-body" id="card">
              <% if (organization.length==0) { %>
                <h1 style="margin-top: 5rem;">No Organization found!</h1>
                <% } else { %>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Abbreviation</th>
                          <th>City</th>
                          <th>Street Name</th>
                          <th>Street Number</th>
                          <th>Zip Code</th>
                          <th>Organization Type</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% organization.forEach((organization, _)=> { %>
                          <tr>
                            <td>
                              <%= organization.Organization_ID %>
                            </td>
                            <td>
                              <%= organization.Organization_Name %>
                            </td>
                            <td>
                              <%= organization.Abbreviation %>
                            </td>
                            <td>
                              <%= organization.City %>
                            </td>
                            <td>
                              <%= organization.Street_Name %>
                            </td>
                            <td>
                              <%= organization.Street_Number %>
                            </td>
                            <td>
                              <%= organization.Zip_Code %>
                            </td>
                            <td>
                              <%= organization.Organization_Type %>
                            </td>
                            <td>
                              <a type="button" style="all:unset ;cursor: pointer" onclick="setModalOrganization(this)"
                                data-toggle="modal" data-organization_id="<%= organization.Organization_ID %>"
                                data-organization_name="<%= organization.Organization_Name %>"
                                data-abbreviation="<%= organization.Abbreviation %>"
                                data-city="<%= organization.City %>" data-street_name="<%= organization.Street_Name %>"
                                data-street_number="<%= organization.Street_Number %>"
                                data-zip_code="<%= organization.Zip_Code %>"
                                data-organization_type="<%= organization.Organization_Type %>" data-target="#editModal">
                                <i class="fa fa-edit"></i>
                              </a>
                              <form method="POST" action="/organization/delete?id=<%= organization.Organization_ID %>">
                            <td>
                              <button style="all: unset; cursor: pointer;" type="submit"><i
                                  class="fa fa-trash"></i></button>

                            </td>
                            </form>
                            </td>
                            <td>
                              <a href="/organization/researchers?id=<%= organization.Organization_ID %>"><i
                                  class="fa fa-user"></i>
                              </a>
                            </td>
                            <td>
                              <a href="/organization/phones?id=<%= organization.Organization_ID %>"><i
                                  class="fa fa-phone"></i>
                              </a>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <% } %>
                    <td><a href="/organization/create-organization-page">
                        <button style="all: unset; cursor: pointer;" type="submit"><i
                            class="fa fa-add "></i></button>&nbspAdd Organization
                      </a></th>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script>
      function setModalOrganization(row) {
        document.getElementById("organization_id").value = row.dataset.organization_id;
        document.getElementById("organization_name").value = row.dataset.organization_name;
        document.getElementById("abbreviation").value = row.dataset.abbreviation;
        document.getElementById("city").value = row.dataset.city;
        document.getElementById("street_name").value = row.dataset.street_name;
        document.getElementById("street_number").value = row.dataset.street_number;
        document.getElementById("zip_code").value = row.dataset.zip_code;
        document.getElementById("organization_type").value = row.dataset.organization_type;
        document.getElementById("modal-form").action = "/organization/update/" + row.dataset.id;
        document.getElementById("modal-form").method = "POST";
      }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>