<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Project</h4>
                </div>
                <div class="modal-body">
                    <form id="modal-form">
                        <div style="text-align: center;">
                            <input type="text" name="Project_ID" id="Project_ID" readonly></br>
                            <input type="text" name="Title" id="Title"></br>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <%- include("includes/navbar.ejs")%>

        <h1>Duration</h1>

        <form action="/project">
            <input type="checkbox" id="duration" name="duration" value="1">
            <label for="duration"> 1-2</label><br>
            <input type="checkbox" id="duration" name="duration" value="2">
            <label for="duration"> 2-3 </label><br>
            <input type="checkbox" id="duration" name="duration" value="3">
            <label for="vehicle3"> 3-4 </label><br><br>
            <input type="submit" value="Submit">
        </form>


        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <div class="card" id="card-container">
                        <div class="card-body" id="card">
                            <% if (fields.length==0) { %>
                                <h1 style="margin-top: 5rem;">No Projects found!</h1>
                                <% } else { %>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Project ID</th>
                                                    <th>Title</th>
                                                    <th>Summary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% fields.forEach((fields, _)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= fields.Project_ID %>
                                                        </td>
                                                        <td>
                                                            <a href="/project/info?id=<%= fields.Project_ID %>">
                                                                <%= fields.Title %>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <%= fields.Summary %>
                                                        </td>
                                                        <td>
                                                            <a type="button" onclick="setModalFields(this)"
                                                                data-toggle="modal"
                                                                data-Project_ID="<%= fields.Project_ID %>"
                                                                data-Title="<%= fields.Title %>"
                                                                data-Summary="<%= fields.Summary %>"
                                                                data-target="#editModal">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <form method="POST"
                                                                action="/project/delete?id=<%= fields.Project_ID %>">

                                                        <td>
                                                            <button style="all: unset; cursor: pointer;"
                                                                type="submit"><i class="fa fa-trash"></i></button>

                                                        </td>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                                        <td><a href="/project/create-project-page">
                                                <button style="all: unset; cursor: pointer;" type="submit"><i
                                                        class="fa fa-add "></i></button>&nbspAdd Project
                                            </a></th>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function setModalFields(row) {
                document.getElementById("Project_ID").value = row.dataset.Project_ID;
                document.getElementById("Title").value = row.dataset.Title;
                document.getElementById("Summary").value = row.dataset.Summary;
                document.getElementById("modal-form").action = "/fields/update/" + row.dataset.id;
                document.getElementById("modal-form").method = "POST";
            }
        </script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>