<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Researcher</h4>
                </div>
                <div class="modal-body">
                    <form id="modal-form">
                        <div style="text-align: center;">
                            <input type="text" name="Researcher_ID" id="Researcher_ID" readonly></br>
                            <input type="text" name="First_Name" id="First_Name"></br>
                            <input type="text" name="Last_Name" id="Last_Name"></br>
                            <input type="text" name="First_Name" id="First_Name"></br>
                            <input type="text" name="Sex" id="Sex"></br>
                            <input type="text" name="age" id="age"></br>
                            <input type="text" name="R_Organization_ID" id="R_Organization_ID"></br>
                            <input type="text" name="Date_of_Entry" id="Date_of_Entry">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <%- include("includes/navbar.ejs")%>

        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <div class="card" id="card-container">
                        <div class="card-body" id="card">
                            <% if (fields.length==0) { %>
                                <h1 style="margin-top: 5rem;">No Fields found!</h1>
                                <% } else { %>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Researcher_ID</th>
                                                    <th>First_Name</th>
                                                    <th>Last_Name</th>
                                                    <th>Sex</th>
                                                    <th>age</th>
                                                    <th>R_Organization_ID</th>
                                                    <th>Date_of_Entry</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% fields.forEach((fields, _)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= fields.Researcher_ID %>
                                                        </td>
                                                        <td>
                                                            <%= fields.First_Name %>
                                                        </td>
                                                        <td>
                                                            <%= fields.Last_Name %>
                                                        </td>
                                                        <td>
                                                           <%= fields.Sex %>
                                                        </td>
                                                        <td>
                                                           <%= fields.age %>
                                                        </td>
                                                        <td>
                                                           <%= fields.R_Organization_ID %>
                                                        </td>
                                                        <td>
                                                          <%= fields.Date_of_Entry %>
                                                        </td>
                                                        <td>
                                                            <a type="button" onclick="setModalFields(this)"
                                                                data-toggle="modal"
                                                                data-Researcher_ID="<%= fields.Researcher_ID %>"
                                                                data-First_Name="<%= fields.First_Name %>"
                                                                data-Last_Name="<%= fields.Last_Name %>"
                                                                data-Sex="<%= fields.Sex %>"
                                                                data-age="<%= fields.age %>"
                                                                data-R_Organization_ID="<%= fields.R_Organization_ID %>"
                                                                data-Date_of_Entry="<%= fields.Date_of_Entry %>"
                                                                data-target="#editModal">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function setModalFields(row) {
                document.getElementById("Researcher_ID").value = row.dataset.Researcher_ID;
                document.getElementById("First_Name").value = row.dataset.First_Name;
                document.getElementById("Last_Name").value = row.dataset.Last_Name;
                document.getElementById("Sex").value = row.dataset.Sex;
                document.getElementById("age").value = row.dataset.age;
                document.getElementById("R_Organization_ID").value = row.dataset.R_Organization_ID;
                document.getElementById("Date_of_Entry").value = row.dataset.Date_of_Entry;
                document.getElementById("modal-form").action = "/fields/update/" + row.dataset.id;
                document.getElementById("modal-form").method = "POST";
            }
        </script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>